.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 14px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1011px;
    margin: 0;
    padding-top: 94px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card__item {
  padding: 39px 21px 21px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-top: 60px;
    padding-bottom: 30px;

    &--black {
      padding-top: 50px;
    }

    &--pink {
      padding-top: 50px;
    }

    &--brown {
      padding-top: 50px;
    }

    &--yellow {
      padding-top: 50px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 317px;
    padding: 0;
    padding-top: 18px;
    height: 460px;
  }
}

.card__title {
  padding-top: 19px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: @base-black;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 36px;
    padding-top: 27px;
    padding-left: 9px;

    &--black {
      padding-top: 25px;
    }

    &--pink {
      padding-top: 26px;
    }

    &--brown {
      padding-top: 26px;
    }

    &--yellow {
      padding-top: 26px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 59px;
  }
}

.card__description {
  padding-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @base-black;

  @media (min-width: @tablet-width) {
    padding-top: 10px;
    padding-left: 8px;
  }
}

.card__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: auto;
  padding-top: 16px;

  @media (min-width: @tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: @base-black;
  padding-right: 46px;

  @media (min-width: @tablet-width) {
    padding-right: 100px;
  }
}
