.catalog {
  padding: 50px var(--side-offset) 44px;
  background-color: @lightest-grey;

  @media (min-width: @tablet-width) {
    padding: 80px 20px 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 20px 20px;
  }
}

.catalog__slogan {
  font-family: @accent-font;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  color: @base-primary;
  letter-spacing: 0.04em;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.catalog__title {
  padding-top: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: @base-black;

  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 42px;
    line-height: 64px;
    padding-top: 4px;
  }
}

.catalog__container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    justify-content: space-between;
    gap: 20px;
  }
}
