.filter {
  @media (min-width: @desktop-width) {
    padding-bottom: 91px;
    padding-top: 25px;
  }
}

.filter-wrapper-inputs {
  position: absolute;
  top: 40px;
  display: flex;
}

.catalog-filter-title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 34px;
  padding: 0;
}

.catalog-filter-label {
  display: flex;
  margin: 0;
  position: relative;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

/* Состояния инпутов */

.price-input:focus {
  outline: none;
  z-index: 2;
  border-color: @primary-darker;
}

.price-input:disabled:hover,
.price-input:disabled:active,
.price-input:disabled {
  background-color: @lightest-grey;
  border: 2px solid @light-grey;
}

.price-input::placeholder {
  color: @base-grey;
}

/* Инпуты фильтра гостиниц */

.price-input {
  width: 117px;
  padding: 8px 10px;
  appearance: textfield;
  border: 2px solid @primary-lighter;
  border-radius: 4px;
  background-color: @base-white;
  color: @base-black;
  font-family: @accent-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 92px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
  }
}

.price-input-text {
  font-size: 30px;
  margin: 10px 17px 0;
  color: @base-grey;

  @media (min-width: @tablet-width) {
    margin: 10px 12px 0;
  }
}

.range {
  position: relative;
}

.range-scale {
  width: 280px;
  height: 2px;
  background-color: @light-grey;

  @media (min-width: @tablet-width) {
    width: 219px;
  }
}

.range-bar {
  position: absolute;
  height: 4px;
  width: 228px;
  background: @primary-lighter;

  @media (min-width: @tablet-width) {
    width: 189px;
  }
}

.range-toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: @base-white;
  border: 2px solid @primary-lighter;
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  border: 2px solid #ffffff;
  background-color: rgba(120, 89, 207, 0.5);
  border-radius: 50%;
  outline: 2px solid @primary-lighter;
  z-index: 1;
}


.range-toggle:active {
  border: 2px solid #ffffff;
  background-color: @base-primary;
  border-radius: 50%;
  outline: 2px solid @primary-lighter;
}

.toggle-min {
  top: -10px;
  left: -1px;
}

.toggle-max {
  top: -10px;
  right: -22px;
}
