.footer {
  padding: 18px 20px;

  @media (min-width: @tablet-width) {
    padding: 40px 20px 20px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 29px 20px 25px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    justify-content: unset;
    padding-top: 9px;
    align-items: flex-start;
    margin-left: 19px;
  }
}

.footer__link {
  padding: 10px;
}

.footer__link-vk,
.footer__link-ok,
.footer__link-pinterest {
  fill: @base-grey;
}

.footer__link:hover,
.footer__link:focus {
  fill: @base-primary;
  background-color: @base-secondary;
  border-radius: 4px;
}

.footer__link:hover .footer__link-vk,
.footer__link:hover .footer__link-pinterest,
.footer__link:hover .footer__link-ok {
  fill: @base-primary;
}

.footer__link:focus .footer__link-vk,
.footer__link:focus .footer__link-pinterest,
.footer__link:focus .footer__link-ok {
  fill: @base-primary;
}

.footer__link:active {
  background-color: @primary-opacity;
  fill: @base-primary;
  border-radius: 4px;
}

.footer__text {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    padding-top: 10px;
  }
}

.footer__social {
  display: flex;
  margin-left: 10px;
  align-items: center;
  gap: 19px;

  @media (min-width: @tablet-width) {
    gap: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 50px;
    margin: 0;
  }
}

.footer__logo:hover,
.footer__logo:focus {
  opacity: 0.7;
}

.footer__logo:active {
  opacity: 0.4;
}
