.footer {
  padding: 20px 20px;

  @media (min-width: @tablet-width) {
    padding: 40px var(--side-offset) 20px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: auto;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    justify-content: unset;
    padding-top: 10px;
    align-items: flex-start;
  }
}

.footer-nav {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: @desktop-width) {
    margin-left: 30px;
  }
}

.footer__link {
  padding: 10px;
}

.footer__text {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    padding-top: 10px;
  }
}

.footer__social {
  display: flex;
  margin-left: 10px;
  gap: 20px;
  align-items: center;

  @media (min-width: @desktop-width) {
    padding-top: 50px;
    margin: 0;
  }
}

.footer-box {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
