.footer-media {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    grid-column: 2/5;
  }
}

.footer-media__nav {
  &--shop {
    padding-top: 20px;
    padding-bottom: 20px;

    @media (min-width: @tablet-width) {
      padding-top: 8px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 20px;
      padding-top: 3px;
    }
  }

  &--blog {
    padding-top: 20px;
    padding-bottom: 20px;

    @media (min-width: @tablet-width) {
      padding-top: 14px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 10px;
      margin-left: 6px;
    }
  }

  &--contacts {
    padding-top: 13px;

    @media (min-width: @tablet-width) {
      padding-top: 7px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 5px;
      margin-left: -7px;
    }
  }
}

.footer-media__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: @base-primary;
  padding-bottom: 10px;
  padding-top: 16px;

  @media (min-width: @desktop-width) {
    padding-bottom: 10px;
  }

  &--shop {
    padding-top: 16px;
  }
}

.footer-media__title--blog {
  padding-top: 10px;
}

.footer-media__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: @base-black;

  &--shop {
    padding-top: 11px;
  }

  &--blog {
    padding-top: 10px;
  }
}

.footer-media__item--shop:nth-child(2) {
  padding-top: 18px;
}

.footer-media__item--shop:nth-child(3) {
  padding-top: 20px;
}

.footer-media__item--shop:nth-child(4) {
  padding-top: 20px;
}

.footer-media__item--blog:nth-child(2) {
  padding-top: 19px;
}

.footer-media__item--blog:nth-child(3) {
  padding-top: 21px;
}

.footer-media__item a {
  color: @base-black;
}

.footer-media__adress {
  position: relative;
  padding-bottom: 16px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @base-black;

  &--contacts {
    padding-top: 10px;
  }
}

.footer-media__adress::before {
  position: absolute;
  content: "";
  background-image: url("../../img/footer-marker.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 13px;
  height: 16px;
  top: 12px;
  left: -20px;
}

.footer-media__phone {
  position: relative;
  margin-left: 20px;
  color: @base-black;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer-media__phone::before {
  position: absolute;
  content: "";
  background-image: url("../../img/footer-phone.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 13px;
  height: 16px;
  top: 1px;
  left: -20px;
}

.footer-media__link:hover,
.footer-media__link:focus {
  color: @primary-lighter;
}

.footer-media__link:active {
  color: @primary-darker;
}
