.footer-nav__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: @base-primary;
  padding-bottom: 20px;

  @media (min-width: @desktop-width) {
    padding-bottom: 10px;
  }
}

.footer-nav__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-top: 12px;
  color: @base-black;
}

.footer-nav__item a {
  color: @base-black;
}

.footer-nav__adress {
  position: relative;
  padding-bottom: 16px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @base-black;
}

.footer-nav__adress::before {
  position: absolute;
  content: "";
  background-image: url("../../img/footer-marker.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 13px;
  height: 16px;
  top: 2px;
  left: -16px;
}

.footer-nav__phone {
  position: relative;
  margin-left: 20px;
  color: @base-black;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer-nav__phone::before {
  position: absolute;
  content: "";
  background-image: url("../../img/footer-phone.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 13px;
  height: 16px;
  top: 1px;
  left: -16px;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
  color: @primary-lighter;
}

.footer-nav__link:active {
  color: @primary-darker;
}

.footer__link-vk,
.footer__link-ok,
.footer__link-pinterest {
  fill: @base-grey;
}

.footer__link:hover,
.footer__link:focus {
  fill: @base-primary;
  background-color: @base-secondary;
  border-radius: 4px;
}

.footer__link:hover .footer__link-vk,
.footer__link:hover .footer__link-pinterest,
.footer__link:hover .footer__link-ok {
  fill: @base-primary;
}

.footer__link:focus .footer__link-vk,
.footer__link:focus .footer__link-pinterest,
.footer__link:focus .footer__link-ok {
  fill: @base-primary;
}

.footer__link:active {
  background-color: @primary-opacity;
  fill: @base-primary;
  border-radius: 4px;
}
