.footer-media {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    grid-column: 2/5;
  }
}

.footer-media__nav {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: @desktop-width) {
    margin-left: 30px;
  }
}

.footer-media__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: @base-primary;
  padding-bottom: 20px;

  @media (min-width: @desktop-width) {
    padding-bottom: 10px;
  }
}

.footer-media__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-top: 12px;
  color: @base-black;
}

.footer-media__item a {
  color: @base-black;
}

.footer-media__adress {
  position: relative;
  padding-bottom: 16px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @base-black;
}

.footer-media__adress::before {
  position: absolute;
  content: "";
  background-image: url("../../img/footer-marker.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 13px;
  height: 16px;
  top: 2px;
  left: -16px;
}

.footer-media__phone {
  position: relative;
  margin-left: 20px;
  color: @base-black;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer-media__phone::before {
  position: absolute;
  content: "";
  background-image: url("../../img/footer-phone.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 13px;
  height: 16px;
  top: 1px;
  left: -16px;
}

.footer-media__link:hover,
.footer-media__link:focus {
  color: @primary-lighter;
}

.footer-media__link:active {
  color: @primary-darker;
}
