.header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: auto;

  @media (min-width: @tablet-width) {
    padding: 10px 22px;
    display: flex;
    justify-content: unset;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 40px;
  }
}

.header__logo-text {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin-left: 20px;
    max-width: 160px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: @base-black;
  }
}

.header__text-icon {
  display: none;

  @media (min-width: @desktop-width) {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: @base-black;
    display: inline-block;
    margin-left: 8px;
  }
}

.header__box {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 67px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 160px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  margin-left: 88px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 76px;
    gap: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 140px;
    gap: 20px;
  }
}

.header__logo-image {
  @media (min-width: @tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: @desktop-width) {
    width: 170px;
    height: 36px;
  }
}

.header__user,
.header__basket {
  padding: 20px;
}

.header__user-basket,
.header__user-icon {
  position: relative;
  fill: @base-black;
}

.header__user:hover::before,
.header__basket:focus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 137px;
  width: 60px;
  height: 60px;
  background-color: @base-secondary;
  border-radius: 4px;
  z-index: -1;
}

.header__basket:hover::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 80px;
  width: 60px;
  height: 60px;
  background-color: @base-secondary;
  border-radius: 4px;
  z-index: -1;
}
