.main-nav {
  padding: 0;
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 100;
  background-color: #ffffff;

  &--enabled {
    position: absolute;
    display: none;
    width: 100%;
    top: 59px;
    left: 1px;
  }

  &--opened {
    display: flex;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    position: unset;
    flex-direction: row;
  }
}

.main-nav__list a {
  color: @base-black;
}

.main-nav__list-item--current {
  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.main-nav__toggle {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-image: url("../../img/close-button.svg");
  right: 22px;
  top: 22px;
  cursor: pointer;
  border: none;

  &--opened {
    height: 16px;
    width: 16px;
    background-image: url("../../img/menu-open.svg");
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__list-item:active {
  background-color: @base-secondary;

  @media (min-width: @tablet-width) {
    background-color: @base-secondary;
    cursor: pointer;
  }
}

.main-nav__list-item:hover .main-nav__link,
.main-nav__list-item:focus .main-nav__link {
  color: @base-primary;
  cursor: pointer;
}

.main-nav__list-item:active .main-nav__link {
  color: @base-black;

  @media (min-width: @tablet-width) {
    color: @base-primary;
  }
}

.main-nav__list-item {
  border-top: 1px solid @base-secondary;
  padding: 21px 20px 23px;

  @media (min-width: @tablet-width) {
    padding: 30px 20px;
    border-top: none;
  }
}

.main-nav__list-item:nth-child(1) {
  @media (min-width: @tablet-width) {
    margin-left: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 128px;
  }
}

.main-nav__list-item:nth-child(2) {
  @media (min-width: @desktop-width) {
    margin-left: 20px;
  }
}

.main-nav__list-item:nth-child(3) {
  @media (min-width: @desktop-width) {
    margin-left: 20px;
  }
}

.main-nav__list-item:nth-child(4) {
  @media (min-width: @desktop-width) {
    margin-left: 20px;
  }
}

.main-nav__list-item a {
  list-style-type: none;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: @base-black;
  font-family: @accent-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    &--current::before {
      position: absolute;
      content: "";
      height: 2px;
      bottom: -10px;
    }
  }
}

.main-nav__list-item--current a {
  @media (min-width: @tablet-width) {
    color: @base-primary;
  }
}

.main-nav__list-item--current::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: @base-primary;
    bottom: -3px;
    left: 0;
    z-index: 10;
  }
}
