.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 34px;
    right: 19px;
  }
}

.sorting__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: @base-black;
}

.sorting__select {
  font-family: @accent-font;
  font-style: normal;
  padding: 7px 5px;
  max-width: 165px;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: @base-primary;

  @media (min-width: @tablet-width) {
    margin-right: 3px;
  }
}
